@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Jost", Arial, serif;

  #wrapper {
    width: 92%;
    max-width: 990px;
    margin: 0 auto;
    h2 {
    }

    form {
      margin: 0 0 50px;
    }

    #shopping-list {
      border: 2px solid #000;

      margin: 0 auto;
      li {
        position: relative;
        cursor: pointer;
        display: flex;
        line-height: 2;
        align-items: center;
        gap: 10px;
        padding: 0.5em 1em;
        font-size: 1.2rem;

        &:nth-of-type(even) {
          background: #ccc;
        }

        .item-quantity {
        }

        .item-name {
        }

        .item-category {
        }

        .delete-item {
          font-size: 20px;
          margin-left: auto;

          &:hover {
            scale: 1.05;
          }
        }
      }
    }
  }
}

.strike-through {
  // text-decoration: line-through;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 98%;
    margin: 0 auto;
    background: red;
  }
}

.toast {
  position: absolute;
  // top: 20px;
  left: 20px;
  // display: none;
  width: 100px;
  height: 75px;
  background: red;
  border-radius: 25px 25px 25px 2px;
  padding: 8px;
  text-align: center;
  box-shadow: 2px 2px 4px 0px rgba(#000, 0.5);
  transition: 0.3s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  top: -75px;
  opacity: 1;
}

@keyframes fadein {
  0% {
    top: -75px;
    opacity: 0;
  }
  100% {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    top: 30px;
    opacity: 1;
  }
  100% {
    top: -75px;
    opacity: 0;
  }
}

.toast-reveal {
  display: block;
}
